{% extends 'base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
<section class="popular-courses">
    <div class="container">
        <h2>Popular Courses</h2>
        <div class="course-list">
            {% for key in catalogs.keys() %}
                <div class="course-item">
                    <h3>{{ key }}</h3>
                    <p>{{ catalogs[key] }}</p>
                    <a href="course/{{loop.index0}}" class="btn-secondary">View Course</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}