{% extends 'base.html' %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">{{ course.name }}</div>
        
        <div class="course-description">
            <p>{{ course.description }}</p>
        </div>

        {% for module in course.modules %}
        <div class="section">
            <div class="section-title">{{ module.name }}</div>
            
            {% for lesson in module.lessons %}
            <div class="lesson">
                <div class="lesson-title">{{ lesson.name }}</div>
                <div class="lesson-content">{{ lesson.description }}</div>
            </div>
            {% endfor %}
            
            {% for test in module.tests %}
            <a href="/course/{{ course_id }}/test/{{ loop.index }}" style="text-decoration: none">
                <div class="lesson">
                    <div class="lesson-title">{{ test.name }}</div>
                    <div class="lesson-content">{{ test.description }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
