{% extends 'base.html' %}

{% block title %}Создать пост{% endblock %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание Новой Темы - Форум</title>
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/css/forum.css">
</head>
<body>

<div class="container">
    <div class="new-theme-form">
        <h2>Создание Новой Темы</h2>
        <form method="post">
            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="description">Описание:</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn-submit">Создать Тему</button>
        </form>
    </div>
</div>

</body>
</html>
{% endblock %}