{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Profile Section -->
            <div class="profile-section card shadow-lg p-4 mb-4">
                <h2 class="text-center text-success mb-4">Добро пожаловать, {{ username }}!</h2>
                
                <!-- Profile Information -->
                <div class="profile-info mb-3">
                    <label for="username" class="form-label">Логин:</label>
                    <p id="username">{{ username }}</p>
                </div>
                <div class="profile-info mb-3">
                    <label for="access-level" class="form-label">Уровень доступа:</label>
                    <p id="access-level" class="text-muted">{{ access }}</p>
                </div>
            </div>

            <!-- Additional Section (if needed) -->
            <div class="additional-info card shadow-lg p-4">
                <h3 class="text-center text-success mb-4">Мои курсы</h3>
                <div class="text-center">
                    <button class="btn btn-secondary w-75 mb-3">Перейти к курсам</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
