{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1> {{message}}</h1>
                    <form action="/register" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="username" class="form-label">Логин</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Пароль</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <legend>Уровень доступа</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="access" value="Ученик" required>
                                <label class="form-check-label">Ученик</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="access" value="Учитель">
                                <label class="form-check-label">Учитель</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                            <button type="reset" class="btn btn-secondary">Очистить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}