{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ по русскому языку: Задание 4{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">Задание 4: Орфоэпические нормы</div>

        <div class="course-description">
            <p>Это раздел посвящен заданию 4 ЕГЭ по русскому языку, которое проверяет ваши знания орфоэпии. Здесь вы найдете теорию и примеры.</p>
        </div>
        <div class="lesson">
                 <div class="lesson-title">Теория</div>
                <div class="lesson-content">
                    <p><strong>Задание 4</strong> проверяет знание орфоэпических норм, то есть правильное произношение слов. Основные понятия:
                        <ul>
                            <li><strong>Ударение</strong> - правильное ударение в словах (например, *звонИт*, *квАртал*).</li>
                            <li><strong>Произношение гласных и согласных</strong> - правильное произношение гласных и согласных в различных позициях.</li>
                            <li><strong>Произношение заимствованных слов</strong> - правильное произношение иностранных слов.</li>
                        </ul>
                    </p>
                 </div>
              </div>
              <div class="lesson">
                    <div class="lesson-title">Примеры</div>
                    <div class="lesson-content">
                         <ul>
                            <li><strong>Пример ударения:</strong> *звонИт* (не *звОнит*), *квАртал* (не *квартАл*).</li>
                            <li><strong>Пример произношения:</strong> "что" произносится как [што], "солнце" произносится как [сонцэ].</li>
                            <li><strong>Пример заимствованного слова:</strong> "жюри" (произносится как [жури]).</li>
                         </ul>
                    </div>
              </div>
    </div>
{% endblock %}