{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ по русскому языку: Задание 6{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">Задание 6: Лексическое значение слова</div>

        <div class="course-description">
            <p>Это раздел посвящен заданию 6 ЕГЭ по русскому языку, которое проверяет ваши знания лексического значения слов. Здесь вы найдете теорию и примеры.</p>
        </div>
         <div class="lesson">
                 <div class="lesson-title">Теория</div>
                <div class="lesson-content">
                    <p><strong>Задание 6</strong> проверяет знание лексического значения слова, то есть умение правильно понимать смысл слов в контексте. Основные понятия:
                        <ul>
                             <li><strong>Значение слова</strong> - основное и переносное значения.</li>
                             <li><strong>Синонимы и антонимы</strong> - умение подбирать синонимы и антонимы.</li>
                             <li><strong>Контекст</strong> - умение понимать значение слова в контексте.</li>
                        </ul>
                    </p>
                 </div>
               </div>
                <div class="lesson">
                    <div class="lesson-title">Примеры</div>
                    <div class="lesson-content">
                       <ul>
                            <li><strong>Пример значения слова:</strong> "Золотое кольцо" (прямое значение) и "Золотое время" (переносное значение).</li>
                            <li><strong>Пример синонимов:</strong> *храбрый* - *смелый*, *отважный*.</li>
                            <li><strong>Пример антонимов:</strong> *хороший* - *плохой*, *день* - *ночь*.</li>
                           <li><strong>Пример контекста:</strong> Слово "корень" имеет разные значения в биологии и математике.</li>
                        </ul>
                    </div>
               </div>
    </div>
{% endblock %}