{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ по русскому языку: Задание 2{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">Задание 2: Синтаксические нормы</div>

        <div class="course-description">
            <p>Это раздел посвящен заданию 2 ЕГЭ по русскому языку, которое проверяет ваши знания синтаксических норм. Здесь вы найдете теорию и примеры.</p>
        </div>
        <div class="lesson">
                <div class="lesson-title">Теория</div>
                <div class="lesson-content">
                  <p><strong>Задание 2</strong> проверяет умение правильно строить предложения, то есть соблюдать синтаксические нормы. Основные аспекты:
                    <ul>
                        <li><strong>Согласование</strong> - правильное согласование подлежащего и сказуемого, определения и определяемого слова (например, *пять учеников пришло*, *красивая картина*).</li>
                        <li><strong>Управление</strong> - правильное употребление падежных форм (например, *скучать по вам*, *интересоваться искусством*).</li>
                        <li><strong>Построение предложений с деепричастными оборотами</strong> - деепричастный оборот должен относиться к подлежащему (например, *читая книгу, я увлекся*, но не *читая книгу, она упала*).</li>
                        <li><strong>Построение предложений с однородными членами</strong> - все однородные члены должны быть в одном падеже и согласовываться с общим словом (например, *люблю яблоки, груши и сливу* - неправильно: *люблю яблоки, груши и сливы*)</li>
                    </ul>
                </p>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title">Примеры</div>
                <div class="lesson-content">
                  <ul>
                        <li><strong>Пример согласования:</strong> "Пять учеников пришли". (Неправильно: *пять учеников пришло*).</li>
                        <li><strong>Пример управления:</strong> "Я скучаю по вам". (Неправильно: *я скучаю за вами*).</li>
                        <li><strong>Пример деепричастного оборота:</strong> "Читая книгу, я увлекся". (Неправильно: *Читая книгу, она упала*).</li>
                        <li><strong>Пример однородных членов:</strong> "Я люблю яблоки, груши и сливы". (Неправильно: *Я люблю яблоки, груши и сливу*)</li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}