{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ по русскому языку: Задание 1{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">Задание 1: Лексические нормы</div>

        <div class="course-description">
            <p>Это раздел посвящен заданию 1 ЕГЭ по русскому языку, которое проверяет ваши знания лексических норм. Здесь вы найдете теорию и примеры.</p>
        </div>
         <div class="lesson">
                <div class="lesson-title">Теория</div>
                <div class="lesson-content">
                <p><strong>Задание 1</strong> проверяет знание лексических норм, то есть умение правильно использовать слова в соответствии с их значением и сочетаемостью. Основные понятия:
                    <ul>
                         <li><strong>Паронимы</strong> - слова, похожие по звучанию, но разные по значению (например, <em>одеть - надеть</em>).</li>
                         <li><strong>Лексическая избыточность (плеоназм)</strong> - употребление слов, дублирующих значение (например, <em>своя автобиография</em>).</li>
                         <li><strong>Тавтология</strong> - повторение однокоренных слов (например, <em>масло масляное</em>).</li>
                         <li><strong>Стилистические ошибки</strong> - употребление слов, не соответствующих стилю речи (например, <em>"конечно, чувак" в деловом письме</em>).</li>
                    </ul>
                </p>
                </div>
            </div>
            <div class="lesson">
                <div class="lesson-title">Примеры</div>
                <div class="lesson-content">
                    <ul>
                        <li><strong>Пример с паронимами:</strong> "Наденьте пальто, пожалуйста". (Правильно: *Наденьте* - на себя, *Оденьте* - кого-то).</li>
                        <li><strong>Пример с плеоназмом:</strong> "Я написал свою автобиографию". (Правильно: *автобиография* - это уже *своя* биография).</li>
                        <li><strong>Пример с тавтологией:</strong> "Мы повторили тот же самый вопрос". (Правильно: *повторили вопрос* - уже подразумевается, что тот же самый).</li>
                        <li><strong>Пример со стилистической ошибкой:</strong> "В общем, он крутой перец". (Лучше: *В общем, он хороший специалист*).</li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}