{% extends 'base.html' %}

{% block title %}Подготовка к ЕГЭ по русскому языку: Задание 5{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/styles.css">
    <div class="container">
        <div class="course-title">Задание 5: Паронимы</div>

        <div class="course-description">
            <p>Это раздел посвящен заданию 5 ЕГЭ по русскому языку, которое проверяет ваши знания паронимов. Здесь вы найдете теорию и примеры.</p>
        </div>
            <div class="lesson">
                 <div class="lesson-title">Теория</div>
                <div class="lesson-content">
                    <p><strong>Задание 5</strong> проверяет знание паронимов, то есть слов, похожих по звучанию, но разных по значению. Основные аспекты:
                        <ul>
                            <li><strong>Паронимы</strong> - слова, сходные по звучанию, но отличающиеся по значению (например, *представить - предоставить*, *экономичный - экономический*).</li>
                            <li><strong>Различение значений</strong> - умение различать значения паронимов в контексте.</li>
                        </ul>
                    </p>
                 </div>
                </div>
                <div class="lesson">
                    <div class="lesson-title">Примеры</div>
                    <div class="lesson-content">
                         <ul>
                            <li><strong>Примеры паронимов:</strong>
                                <ul>
                                    <li><strong>Представить</strong> (показать) - <strong>Предоставить</strong> (дать в пользование): "Представить доказательства" и "Предоставить отпуск".</li>
                                    <li><strong>Экономичный</strong> (бережливый) - <strong>Экономический</strong> (относящийся к экономике): "Экономичный расход топлива" и "Экономический кризис".</li>
                                    <li><strong>Адресат</strong> (получатель) - <strong>Адресант</strong> (отправитель): "Сообщение доставлено адресату" и "Адресант оставил свой номер телефона".</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
    </div>
{% endblock %}